body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 1.4;
  background-color:rgb(24, 26, 27);
  color: rgb(209, 205, 199);
  font-weight: 300;
  
}

h1 {
  padding-top: 50px;
  padding-bottom:10px;
  font-family: "Bookman Old Style"; 
  font-size: 80px; 
  font-style: normal; 
  font-variant: small-caps; 
  font-weight: 700; 
  line-height: .9; 
}

form label {
  padding-bottom:10px;
}

.btn {
  font-weight: bold;
  background-color: rgb(163, 163, 163);
}

.btn:hover {
  color: rgb(48, 48, 48);
  background-color: rgb(255, 139, 45);
}

#results {
  color:rgb(255, 139, 45)
}