body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 1.4;
  background-color:rgb(24, 26, 27);
  color: rgb(209, 205, 199);
  font-weight: 300;
  
}

h1 {
  color: rgb(245, 245, 245);
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  font-weight:lighter;
  line-height: 1.1;
  padding-top: 50px;
}

.btn {
  font-weight: bold;
  background-color: rgb(163, 163, 163);
}

.btn:hover {
  color: rgb(48, 48, 48);
  background-color: rgb(255, 139, 45);
}